/*---------- General Rules ----------*/

:root {
    --primary-color: rgb(54, 64, 65);
    --secondary-color: rgb(83, 97, 98);
    --transparent-primary: rgba(54, 64, 65, 0.5);
    --text-color: white;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Baskervville', serif;
    scroll-behavior: smooth;
}

body {
    background: var(--primary-color);
    color: var(--text-color);
}

/*---------- Navigation ----------*/

#header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    min-height: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 100;
    -webkit-transition: 0.35s;
    transition: 0.35s;
}

#authorName {
    text-shadow: 1px 1px 2px black;
    margin: 0 auto 0 10px;
    font-size: calc(1px + 0.8vw + 0.8vh + .6vmin);
    text-align: center;
    min-width: 20%;
    font-family: "Fondamento", cursive;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: none;
}

#authorName a {
    text-decoration: none;
    color: white;
}

#authorName:hover {
    background-color: transparent;
}

.navItem {
    text-decoration: none;
    color: white;
    width: 10%;
    font-family: "Fondamento", cursive;
    font-size: calc(0.6vw + 0.6vh + .6vmin);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    text-transform: lowercase;
}

.navItem:nth-child(5) {
    margin-right: 5vw;
}

.navItem:hover {
    background-color: rgba(255, 255, 255, 0.596);
    color: black;
}

#mobile {
    background-color: black;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 7vh;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    overflow: hidden;
    z-index: 100;
    width: 100%;
    margin-top: 0;
    transition: 0.35s;
}

.navItemMobile {
    text-decoration: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: calc(0.7vw + 0.7vh + .7vmin);
    padding: 1em;
    text-align: center;
    text-transform: lowercase;
}

#hamburgerMenu {
    display: none;
    height: 25px;
    width: 25px;
    z-index: 21;
    margin-left: auto;
    margin-right: 2vh;
    cursor: pointer;
}

#hamburgerMenu img:hover {
    background: none;
}

#hamburgerMenu img {
    height: 100%;
    width: 100%;
}

#mobile a:hover {
    background-color: var(--secondary-color);
}


/*----------- Main page -----------*/

#showcase {
    background-color: rgba(0, 0, 0, 0.75);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    position: relative;
}

.slide {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.slide h1 {
    font-size: calc(8px + 1.3vw + 1.3vh + .6vmin);
    text-align: center;
    text-shadow: 1px 1px 2px black;
    z-index: 3;
    width: 100%;
    position: absolute;
    top: 25%;
    font-family: "Fondamento", cursive;
}

.slide h3 {
    text-align: center;
    text-shadow: 0px 0px 20px black;
    font-size: calc(10px + 0.4vw + 0.4vh + .4vmin);
    z-index: 3;
    width: 100%;
    position: absolute;
    top: 40%;
    font-weight: 500;
    font-family: "Fondamento", cursive;
}

.topButton {
    font-size: calc(12px + 0.3vw + 0.3vh + .3vmin);
    width: 12%;
    min-width: fit-content;
    padding: calc(6px + 0.3vw + 0.3vh + .5vmin); 
    z-index: 3;
    position: absolute;
    bottom: 10%;
}

.btn {
    background-color: rgba(5, 102, 141, 0.478);
    text-align: center;
    color: white;
    border: 2px white solid;
    text-transform: lowercase;
    text-decoration: none;
    font-weight: lighter;
    transition: all ease 0.25s; 
    text-shadow: 1px 1px 10px black;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    font-family: "Fondamento", cursive
}

.btn:hover {
    -webkit-transition: ease 0.15s;
    transition: all ease 0.25s; 
    text-shadow: 3px 3px 10px black;
    background-color: rgb(5, 102, 141)
}

#audiobook {
    background: url(../images/tree.jpg);
    background-size: cover;
    background-position: center; 
}

#textbook {
    background: url(../images/skycastle.jpg);
    background-size: cover;
    background-position: 50% 75%;
    background-position: 50% 35%;
}

#gamebook {
    background: url(../images/gamebook.jpg);
    background-size: cover;
    background-position: 50% 65%;
}

#stories {
    background: url(../images/book1.jpg);
    display: flex;
    background-size: cover;
    background-position: 50% 35%;
    background-position: 50% 75%; 
}

#audiobook::before, #textbook::before, #stories::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);
    z-index: 2;
}

#buttonHolder {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    background-color: var(--transparent-primary);
    height: 5%;
    border-top-right-radius: 2em;
    padding-right: 1em;
}

.buttons {
    cursor: pointer;
    height: 0.6vw;
    width: 0.6vw;
    display: inline-block;
    background-color: rgba(0,0,0,0.65);
    padding: 3px;
    margin: 0 1vw;
    border-radius: 50%;
    -webkit-box-shadow: 0.5px 0.5px rgba(255, 255, 255, 0.73);
        box-shadow: 0.5px 0.5px rgba(255, 255, 255, 0.73);
        z-index: 19;
}

#firstButton {
    background-color: rgba(255, 255, 255, 0.73);
}

#secondButton, #thirdButton, #fourthButton {
    background-color: rgba(0,0,0,0.65);
}

#social-media-container {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 25;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 10%;
    min-height: 10%;
}

.socialMediaTop {
    width: 3vw;
    min-width: 25px;
    opacity: 80%;
    display: block;
}

.socialMediaTop:hover {
    opacity: 1;
}

/* ---------News section--------- */

.news {
    width: 70%;
    margin: 0 auto;
}

#news {
    min-height: 90vh;
    padding-top: 10vh;
    position: relative;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.empty-container {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.top-container h1, .news h1 {
    text-align: center;
    font-size: calc(5px + 1vw + 1vh + 1vmin);
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Fondamento", cursive;
}

.top-container h1 {
    width: 30%;
    font-size: calc(5px + 1vw + 1vh + 1vmin);
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-right: 1em;
}

#page-number {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    font-size: calc(5px + 0.4vw + 0.4vh + .3vmin);
}

.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 2em;
    background-color: rgb(115, 115, 115);
    overflow: hidden;
}

.arrow {
    min-width: 45%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.arrow img {
    width: 70%;
}

.newsbox {
    background-color: var(--secondary-color);
    color: white;
    padding: 0;
    padding-bottom: 1em;
    margin: 1em;
    font-size: calc(10px + 0.2vw + 0.2vh + .2vmin);
    line-height: 1.6em;
    -webkit-box-shadow: 6px 5px 11px 1px rgba(0,0,0,0.4);
            box-shadow: 6px 5px 11px 1px rgba(0,0,0,0.4);
    position: relative;
    text-justify: auto;
    text-align: justify;
}

.newsHeader {
    padding: 0.75em 1em;
    display: inline-block;
    font-family: "Fondamento", cursive;
}

.publishDate {
    padding: 1em 1.5em;
    font-size: calc(10px + 0.2vw + 0.2vh + .2vmin);
    float: right;
}

.newsbox .newsText {
    padding: 0.5em 1.5em;
}

.newsText a {
    color: white;
}

.parallax {
    margin-top: 2em;
    background-attachment: fixed;
    background-position: center;
    background-image: url(../images/motyle1.jpg);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom-container {
    display: flex;
    width: 100%;
}

/* -------- Books section -------- */

#books {
    padding-bottom: 25vh;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#books h1 {
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 0.5em;
    font-family: "Fondamento", cursive;
    font-weight: lighter;
}

#twoColumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--secondary-color);
    margin: 1em;
    font-size: calc(10px + 0.2vw + 0.2vh + .2vmin);
    line-height: 1.5em;
    -webkit-box-shadow: 6px 5px 11px 1px rgba(0,0,0,0.4);
            box-shadow: 6px 5px 11px 1px rgba(0,0,0,0.4);
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 60vh;
    width: 100%;
}

#booklist {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-right: 3px white solid;
    text-align: center;
    color: black;
}

.bookItem:nth-child(even) {
    background-color: var(--transparent-primary);
}

.bookItem {
    text-decoration: none;
    color: white;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;    
    text-align: center;
    cursor: pointer;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
    color: white;
    font-weight: lighter;
    
}

.bookItem:hover {
    background-color: black;
}

.bookItem p {
    text-align: center;
    display: inline-block;
    font-size: calc(5px + 0.4vw + 0.4vh + .4vmin);
    font-family: 'Oswald', serif;
    font-weight: 600;
    width: 100%;
    padding: 2vw;
    font-family: "Fondamento", cursive;
}

#storyOne {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#bookOne, #storyTwo, #storyThree, #audio1, #audio2{
    display: none;
}

.bookcaseBody {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--secondary-color);
    color: white;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    padding: 1em;
    min-height: 100%;
    max-height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
}

.bookcaseBody h3 {
    text-align: center;
    padding: 0.5em 1em 1em 1em;
    font-size: calc(10px + 0.4vw + 0.4vh + .4vmin);
    font-family: "Fondamento", cursive;
}

.bookDescription {
    overflow: auto;
    flex: 1;
    margin-bottom: 10px;
}

.bookDescription img {
    width: 25%;
    float: left;
    margin: 0.5vh 0.8vw 0 0;
}

.bookDescription p {
    text-justify: auto;
    text-align: justify;
    font-size: calc(10px + 0.2vw + 0.2vh + .2vmin);
}

.download {  
    padding: 1em;
    font-size: calc(7px + 0.3vw + 0.4vh + .3vmin);
    min-width: 25%;
    max-width: 40%;
}

.framebox {
    -ms-flex-preferred-size: 85%;
        flex-basis: 85%;
    border: none;
    min-height: 85%;
    text-align: center;
    width: 100%;
    position: relative;
}

.framebox iframe {
   margin: 0;
   padding: 0;
   height: 100%;
   width: 80%;
}

/* -------- Contact section -------- */

#contact {
    width: 100%;
    height: 85vh;
    margin: 0 auto;
    background-image: url(../images/whitepapers.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 12vh;
}

#contactBox {
    padding: 1vh;
    padding-bottom: 1vh;
    margin: 1vh;
    margin-top: 1vh;
    font-size: calc(1vw + 1vh + .5vmin);
    line-height: 2.8vh;
    display: flex;
    flex-direction: column;
}

#contactBox h2, #contactBox p {
    text-align: center;
    margin: 10px 0 15px 0;
    text-shadow: 2px 2px 10px black;
    font-family: "Fondamento", cursive;
    font-weight: lighter;
}

#contactBox h2 {
    font-size: calc(10px + 1vw + 1vh + .5vmin);
}

#contactBox p {
    font-size: calc(10px + 0.3vw + 0.3vh + .3vmin);
}

#contactBox form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    padding: calc(0.5vw + 0.5vh + .5vmin);
    -webkit-box-shadow: 6px 5px 11px 1px rgba(0,0,0,0.4);
            box-shadow: 6px 5px 11px 1px rgba(0,0,0,0.4);
    background-color: var(--primary-color);
    text-align: left;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    font-family: 'Baskervville', serif;
}

.name, .mail {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.name input, .mail input {
    font-family: Georgia, 'Times New Roman', Times, serif, serif;
    font-size: calc(10px + 0.2vw + 0.2vh + .2vmin);
    padding: 0.2em 0;  
}

.rest {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0.8em;
}

.rest textarea {
    font-family: Georgia, 'Times New Roman', Times, serif, serif;
    resize: none;
    font-size: calc(10px + 0.2vw + 0.2vh + .2vmin)
}

.name label, .mail label, .rest label {
    font-size: calc(10px + 0.3vw + 0.3vh + .3vmin);
    margin-bottom: 10px
}

input[type=submit] {
    min-width: 15%;
    font-size: calc(10px + 0.25vw + 0.25vh + .25vmin);
    text-align: center;
    margin-left: auto;
    margin-top: 20px;
    padding: 0.5em;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(5, 102, 141);
}

/* ----- Footer section ------*/

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.5em 0 1em 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;  
    -webkit-box-orient: vertical;  
    -webkit-box-direction: normal;  
        -ms-flex-direction: column;  
            flex-direction: column;
    font-size: calc(10px + 0.2vh + 0.2vw + 0.25vmin);
}

footer img {
    opacity: 0.6; 
}

footer img:hover {
    opacity: 2;
    -webkit-transition: ease 0.2s;
    transition: ease 0.2s;
}

.footerStrip {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.linkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.linkbox a {
    display: block;
    text-decoration: none;
    color: white;
    margin: 0 0.5em
}

.linkbox a:hover {
    text-decoration: underline;
}

.socialMedia {
    margin: 0;
    padding: 0;
    max-width: 4vh
}

.copyright {
    padding-top: 0.5vh;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

/* -------Media queries-------- */

@media only screen and (max-width: 480px) {
    #buttonHolder {
        width: 30%;
    }

    #social-media-container {
        width: 20%;
    }

    .navItem {
        display: none;
    }

    #authorName {
        width: 40%;
    }

    .publishDate {
        display: block;
        float: none;
        padding: 0;
        margin-left: 1.85em;
    }
        
    #hamburgerMenu {
        display: block;
   }

   .news {
       width: 95%;
    }

    #page-number {
        display: none;
    }
    
   .bookDescription p {
        text-align: justify;
        text-align: left;
   }

   #twoColumn {
        flex-direction: column;
        width: 100%;
        min-height: fit-content;
    }

    #booklist {
        border-bottom: 2px solid white;
        border-right: none;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .bookItem {
        flex-basis: 50%;
    }

    .framebox {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 55vh;
    }

    .framebox iframe {
        flex: 1;
    }

    .bookcaseBody {
        min-height: 55vh;
    }

    .bookItem:nth-child(even) {
        background: none;
    }

    .bookItem:nth-child(even):hover {
        background-color: black;
    }

    .bookItem:nth-child(1), .bookItem:nth-child(4), .bookItem:nth-child(5) {
        background: var(--transparent-primary);
    }

    .bookItem:nth-child(1):hover, .bookItem:nth-child(4):hover, .bookItem:nth-child(5):hover {
        background-color: black;
    }

    .bookDescription img {
        margin: 0 10px 0 0;
    }

    #contactBox form {
            width: 85%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  
    .publishDate {
        display: block;
        float: none;
        padding: 0;
        margin-left: 1.85em;
    }

    #hamburgerMenu {
        display: block;
    }

    .navItem {
        display: none;
    }

    #authorName {
        display: flex;
        width: 30%;
    }
    .news {
        width: 95%;
        min-height: 90vh;
    }

    #page-number {
        display: none;
    }

    .bookDescription p {
        text-align: left;
    }

    #twoColumn {
        flex-direction: column;
        width: 100%;
        min-height: fit-content;
    }

    #booklist {
        border-right: none;
        flex-direction: row;
        flex-wrap: wrap;
        border-bottom: 2px solid white;
    }

    .bookItem {
        box-sizing: border-box;
        flex-basis: 50%;
    }

    .bookItem:nth-child(even) {
        background: none;
    }

    .bookItem:nth-child(even):hover {
        background-color: black;
    }

    .bookItem:nth-child(1), .bookItem:nth-child(4), .bookItem:nth-child(5) {
        background: var(--transparent-primary);
    }

    .bookItem:nth-child(1):hover, .bookItem:nth-child(4):hover, .bookItem:nth-child(5):hover {
        background-color: black;
    }

    .framebox {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 55vh;
    }

    .framebox iframe {
        flex: 1;
    }

    .bookDescription img {
        width: 20%;
        margin-right: 10px;
    }

    #contactBox form {
        width: 75%;
    }
    input[type=submit] {
        min-width: 25%;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {

    .publishDate {
        display: block;
        float: none;
        padding: 0;
        margin-left: 1.85em;
    }
    #mobile {
        display: none;
    }
    .news {
        width: 90%;
    }

    #twoColumn {
        flex-direction: column;
        width: 100%;
        min-height: fit-content;
    }

    #booklist {
        border-bottom: 2px solid white;
        border-right: none;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .bookItem {
        flex-basis: 33.3%;
    }

    .framebox {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 55vh;
        
    }

    .framebox iframe {
        flex: 1;
    }

    input[type=submit] {
        min-width: 25%;
    }
    .bookDescription img {
        width: 16%;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1599px) {
    
    #mobile {
        display: none;
    }
    .news {
        width: 80%;
     }
}

@media only screen and (min-width: 1600px) {
    #mobile {
        display: none;
    }
}